body, html {
    margin: 0;
    padding: 0;
}
body { 
	overflow: hidden;

}

.containersli {
	position: relative;
	transition: 1s ease-out;
	-webkit-transition: 1s ease-out;
}

.divfoot{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
}

.divfoot>div{
    width: 80%;
}

.linksfooter{
	display: flex;
	justify-content: space-around;
	
}

.linksfooter>h4>a{
	color: #004A46;
}

.linksfooter>h4>a:hover{
	color: #C3840F;
}

.panel { 
	height: 100vh;
	width: 100%;
	background: #f7f7f7;
	position: relative;
	text-align: center;
}

.panel>img{ 
	height: 100%;
	width: 100%;
    object-fit: cover;
}